<div class="education-container">
    <div class="education-title">Education</div>
    <div class="education-content">
      <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Holy Angel University</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Information Technology - Web Development</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> June 2021 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior High Graduate | STEM Track</h3>
                    <div class="subheading mb-3">STEM Track</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> June 2020 - March 2021</span></div>
                <h3 class="mb-0">Concepcion Holy Cross College, Inc.</h3>
                <div class="subheading mb-3">High School Graduate</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"> August 2018 - March 2019</span>
            </div>
        </div>
    </section>
    </div>
  </div>
  