<div class="personal-info-container">
    <div class="personal-info-title">Personal Information</div>
    <div class="personal-info-content">
      <h1 class="mb-0">
        Clarence Mica Joy 
        <span class="text-primary">Tolentino</span>
    </h1>
    <div class="subheading mb-5">
        Brgy. San Jose  · Concepcion Tarlac, 09054770957 ·
    </div>
    <p class="lead mb-5">Dedicated and results-driven web developer with a passion for creating interactive and user-friendly web applications. Possessing a solid foundation in front-end and back-end development, with expertise in HTML, CSS, JavaScript, and various frameworks such as Angular and React. Proven track record of delivering high-quality projects on time and exceeding client expectations. Strong problem-solving skills and a collaborative mindset, committed to staying updated with the latest technologies and industry trends to continuously improve development processes and deliver innovative solutions.</p>
  </div>
  