<section class="resume-section" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Awards & Certifications</h2>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Google Analytics Certified Developer
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              Mobile Web Specialist - Google Certification
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              REDHAT TRAINING AND CERTIFICATION Redhat Academy CERTIFICATE OF COURSE COMPLETION: INRTRODUCTION TO LINUX
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              CISCO - CORPORATE SOCIAL RESPONSIBILITY Holy Angel University CERTIFICATE OF COURSE COMPLETION: INTRODUCTION TO LINUX
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              FREE CODECAMP: RESPONSIVE WEB DESIGN CERTIFICATION
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
             FREE CODECAMP: LEGACY JAVASCRIPT ALGORITHMS AND DATA STRUCTURES CERTIFICATION
          </li>
          <li>
          